<div>
    <h1><strong>Lista de juegos</strong></h1>
    <ul>
        {{#each products}}
        <li><strong>Juego:</strong>{{this.title}}, <strong>Genero:</strong>{{this.descripction}}, <strong>Precio:</strong>{{this.price}}, <strong>Stock:</strong>{{this.stock}}</li>
        {{/each}}
    </ul>
</div>
